nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 12px;
    list-style: none;
    background-color: rgb(28, 22, 31);
}

nav li
{
    font-size: 11px;
    font-weight: bold;
    background: none;
    color: rgb(204, 198, 209);
}

.nav-text-logo
{
    height: 24px;
    width: auto;
    margin-right: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: none;
}

.nav-logo
{
    height: 32px;
    width: auto;
    margin: 0;
    background: none;
}

.nav-link
{
    text-decoration: none;
}

.nav-link:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
}

.nav-link-button {
  background: none;
  border: none;
  color: rgb(204, 198, 209);
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.nav-links-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin:  0;
}

.post-btn
{
    background-color: green;
    border-radius: 2px;
    padding: 4px;
    font-weight: bolder;
    margin-left: 8px;
}
.post-btn:hover
{
    background-color: rgb(0, 106, 0);
}