nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 12px;
    list-style: none;
    background-color: rgb(28, 22, 31);
}

nav li
{
    font-size: 11px;
    font-weight: bold;
    background: none;
    color: rgb(204, 198, 209);
}

.nav-text-logo
{
    height: 24px;
    width: auto;
    margin-right: 36px;
    margin-top: 4px;
    margin-bottom: 4px;
    background: none;
}

.nav-logo
{
    height: 32px;
    width: auto;
    margin: 0;
    background: none;
}

.nav-link
{
    text-decoration: none;
}

.nav-link:hover
{
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
}

.nav-link-button 
{
  background: none;
  border: none;
  color: rgb(204, 198, 209);
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

.nav-links-container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    list-style: none;
    margin:  0;
}

.post-btn
{
    background-color: green;
    border-radius: 2px;
    font-weight: bolder;
    padding-left: 6px;
    padding-right: 8px;
    padding-bottom: 2px;
    margin-left: 8px;
    text-align: center;
}

.post-btn:hover
{
    cursor: pointer;
    background-color: rgb(0, 106, 0);
}

.plus
{
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.nav-input
{
    border-radius: 20px;
    width: 95px;
    padding: 2px;
    padding-left: 6px;
    outline: none;
    border: 2px solid transparent;
    font-size: 10px;
    background-color: rgb(52, 36, 67);
    color: rgb(228, 228, 228);
}

.nav-input:focus
{
    background-color: rgb(221, 221, 221);
    color: black;
}

.nav-input::placeholder
{
    color: rgb(177, 177, 177);
}

.nav-input:focus::placeholder
{
    color: transparent;
}

.nav-submit-btn
{
    display: none;
}